{% doc %}
  @description
  Renders a cart line item.

  @param {line_item} item - The line item object.
  @param {string} [prefix]

  @example
  {% render 'line-item', item: item %}
{% enddoc %}

{% liquid
  assign key = item.key | handleize | prepend: prefix
  assign quantity = key | append: '-quantity'
%}

<script
  src="{{ 'line-item.js' | asset_url }}"
  type="module"
  fetchpriority="low"
></script>

<line-item id="{{ key }}" class="line-item" key="{{ item.key }}">
  <a class="line-item__image" href="{{ item.url }}">
    {%- liquid
      if item.image
        echo item.image | image_url: width: 160 | image_tag
      endif
    -%}
  </a>

  <div class="flex flex-col flex-gap-small">
    {{ item.product.title | link_to: item.url, class: 'text-body-medium' }}

    {% unless item.product.has_only_default_variant %}
      {% for option in item.options_with_values %}
        <p class="text-meta">{{ option.name }}: {{ option.value }}</p>
      {% endfor %}
    {% endunless %}

    {% for property in item.properties %}
      {% assign first_character = property.first | slice: 0 %}

      {% unless property.last == blank or first_character == '_' %}
        <p class="text-meta">{{ property.first }}: {{ property.last }}</p>
      {% endunless %}
    {% endfor %}

    {% if item.selling_plan_allocation %}
      <p class="text-body-small">{{ item.selling_plan_allocation.selling_plan.name }}</p>
    {% endif %}

    {% if item.line_level_discount_allocations.size > 0 %}
      <ul class="list-reset">
        {%- for discount in item.line_level_discount_allocations -%}
          <li class="text-meta">{{ discount.discount_application.title | escape }}</li>
        {%- endfor -%}
      </ul>
    {% endif %}

    {% render 'product-price', price: item.final_price, compare_at: item.original_price, class: 'text-meta' %}

    <div class="flex flex-gap-small items-center">
      {% render 'quantity-selector',
        id: quantity,
        name: 'updates[]',
        value: item.quantity,
        input_ref: 'line-item.quantity',
        hide_label: true,
        small: true
      %}

      <a href="{{ item.url_to_remove }}" data-ref="line-item.remove" title="{{ 'cart.line_item_remove' | t }}">
        {{ 'icon-delete.svg' | inline_asset_content }}
      </a>
    </div>
  </div>

  {% render 'product-price',
    variant: item.variant,
    price: item.final_line_price,
    class: 'line-item__total text-right text-body-medium'
  %}
</line-item>

{% stylesheet %}
  .line-item {
    align-items: start;
    display: grid;
    gap: var(--spacing-12) var(--spacing-24);
    grid-template-columns: 80px 1fr auto;
  }

  .line-item__image:empty {
    aspect-ratio: 1;
    background-color: var(--color-border-lighter);
  }

  .line-item.is-loading {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }
{% endstylesheet %}
