{% doc %}
  @description
  Renders a product summary.

  @param {boolean} [preload] - Preloads the thumbnail image.
  @param {number} [image_width] - The thumbnail image width.
  @param {string} [default_size] - The default breakpoint size.
  @param {string} [small_size] - The small breakpoint size.
  @param {string} [medium_size] - The medium breakpoint size.
  @param {string} [large_size] - The large breakpoint size.
  @param {string} [xlarge_size] - The extra-large breakpoint size.
  @param {string} [widths] - Responsive image widths.

  @example
  {% content_for 'block', type: 'product-card', id: 'product', closest.product: product %}
{% enddoc %}

{% liquid
  assign product = block.settings.product
  assign on_sale = false
  assign image_width = image_width | default: 588
  assign default_size = default_size | default: '50vw'
  assign small_size = small_size | default: null
  assign medium_size = medium_size | default: '30vw'
  assign large_size = large_size | default: '20vw'
  assign xlarge_size = xlarge_size | default: '294px'
  assign widths = widths | default: '300, 375, 450, 525, 600'
  assign hover_image = product.images[1]
  assign price = product.price | default: 1000
  assign compare_at_price = product.compare_at_price | default: 1500

  if product.compare_at_price > product.price
    assign on_sale = true
  endif
%}

<a
  class="flex flex-col flex-gap-medium"
  href="{{ product.url }}"
  {% if request.visual_preview_mode %}
    style="width: 300px;"
  {% endif %}
>
  <div
    class="image-container"
    style="aspect-ratio: {{ product.featured_image.aspect_ratio | default: 1 }};"
  >
    {% if on_sale %}
      <ul class="image-container__badges flex flex-gap-small list-reset">
        <li class="badge">{{ 'product.sale' | t }}</li>
      </ul>
    {% endif %}

    {% if product.featured_image %}
      {% render 'image',
        image: product.featured_image,
        width: image_width,
        size: default_size,
        small_size: small_size,
        medium_size: medium_size,
        large_size: large_size,
        xlarge_size: xlarge_size,
        widths: widths,
        preload: preload,
        class: 'image width-full'
      %}

      {% if settings.show_hover_image and hover_image %}
        {% render 'image',
          image: hover_image,
          width: image_width,
          size: default_size,
          small_size: small_size,
          medium_size: medium_size,
          large_size: large_size,
          xlarge_size: xlarge_size,
          widths: widths,
          preload: preload,
          class: 'image-container__hover image image-cover width-full height-full'
        %}
      {% endif %}
    {% endif %}
  </div>

  <div class="flex flex-col flex-gap-xsmall">
    <p>{{ product.title | default: 'Product title' }}</p>

    {% render 'product-price',
      product: product,
      price: price,
      compare_at: compare_at_price,
      context: 'card',
      class: 'text-body-small'
    %}
  </div>
</a>

{% schema %}
{
  "name": "t:theme_blocks.product-card.name",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "t:presets.settings.product.label"
    }
  ],
  "presets": [
    {
      "name": "t:theme_blocks.product-card.name",
      "settings": {
        "product": "{{ closest.product }}"
      }
    }
  ]
}
{% endschema %}
