<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% liquid
      render 'theme-head'
      render 'theme-styles'
      render 'theme-strings'
      render 'theme-scripts'
    %}

    {{ content_for_header }}
  </head>

  <body class="template-{{ request.page_type | handle }}">
    <a class="visually-hidden" href="#MainContent">{{ 'accessibility.skip_to_text' | t }}</a>

    {% sections 'header-group' %}

    <main
      id="MainContent"
      class="content-for-layout"
      role="main"
      tabindex="-1"
    >
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}
  </body>
</html>
