<div class="main-password__media">
  {% render 'media',
    image: section.settings.image,
    large_image: section.settings.large_image,
    image_width: 1440,
    video: section.settings.video,
    large_video: section.settings.large_video,
    video_autoplay: true,
    video_loop: true,
    video_muted: true,
    video_playsinline: true,
    container_class: 'height-full width-full image-cover',
    class: 'height-full width-full image-cover'
  %}
</div>

<div class="main-password__content flex-1 flex flex-col flex-gap-large items-center justify-center text-center">
  {% unless section.settings.heading == empty %}
    <p class="main-password__heading text-h3">{{ section.settings.heading }}</p>
  {% endunless %}

  {% if section.settings.thumbnail_image %}
    {% render 'image',
      image: section.settings.thumbnail_image,
      width: 600,
      class: 'main-password__thumbnail image-cover'
    %}
  {% endif %}

  {% unless section.settings.body == empty %}
    <div class="main-password__body text-h6 rte">{{ section.settings.body }}</div>
  {% endunless %}
</div>

<div class="main-password__footer">
  <div class="main-password__newsletter-form"></div>

  {% form 'storefront_password', class: 'main-password__password-form' %}
    {{ form.errors | default_errors }}

    <div class="inline-flex flex-gap-small items-end">
      <div class="flex-1">
        <label for="{{ section.id | append: '-password' }}">
          {{ 'form.password' | t }}
        </label>

        <input
          id="{{ section.id | append: '-password' }}"
          name="password"
          required
          type="password"
        >
      </div>

      <button class="button">{{ 'form.submit' | t }}</button>
    </div>
  {% endform %}
</div>

{% stylesheet %}
  .main-password__password-form:not(:target),
  .main-password:has(.main-password__password-form:target) .main-password__newsletter-form {
    display: none;
  }

  .main-password {
    min-height: 100dvh;
  }

  .main-password__heading {
    line-height: 1;
    max-width: 220px;
  }

  .main-password__thumbnail {
    aspect-ratio: 300 / 380;
    border-radius: 30px;
    max-width: 128px;
  }

  .main-password__body {
    --paragraph-spacing: 0;
    font-size: 0.8125rem;
    line-height: 1.5;
    max-width: 140px;

    a {
      text-decoration: none;
    }
  }

  .main-password__content {
    padding-block: var(--spacing-32);
  }

  .main-password__footer {
    background-color: rgb(175, 215, 231);
    padding-block: var(--spacing-24);
    padding-inline: var(--spacing-24);
  }

  @media (min-width: 1024px) {
    .main-password {
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      grid-template-rows: 1fr auto;
      max-height: 100dvh;
    }

    .main-password__media {
      grid-area: 1 / 1;
      min-height: 0;
    }

    .main-password__heading {
      font-size: 2.5rem;
    }

    .main-password__thumbnail {
      max-width: 300px;
    }

    .main-password__body {
      max-width: 150px;
    }

    .main-password__content {
      align-self: center;
      gap: var(--spacing-40);
      grid-area: 1 / 2;
    }

    .main-password__footer {
      grid-area: 2 / 1 / 2 / -1;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "class": "main-password flex flex-col",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:presets.settings.default_image.label"
    },
    {
      "type": "image_picker",
      "id": "large_image",
      "label": "t:presets.settings.desktop_image.label"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:presets.settings.default_video.label",
      "info": "t:presets.settings.video.info"
    },
    {
      "type": "video",
      "id": "large_video",
      "label": "t:presets.settings.desktop_video.label",
      "info": "t:presets.settings.video.info"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:presets.settings.heading.label",
      "default": "Heading text"
    },
    {
      "type": "image_picker",
      "id": "thumbnail_image",
      "label": "t:sections.main-password.settings.thumbnail_image.label"
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "t:presets.settings.body.label",
      "default": "<p>Lorem ipsum dolor sit amet</p>"
    }
  ]
}
{% endschema %}
