<h1 class="text-h3">{{ shop.name }}</h1>

{% unless shop.password_message == blank %}
  <p>{{ shop.password_message }}</p>
{% endunless %}

{% form 'storefront_password' %}
  {{ form.errors | default_errors }}

  <div class="inline-flex flex-gap-small items-end">
    <div class="flex-1">
      <label for="{{ section.id | append: '-password' }}">
        {{ 'form.password' | t }}
      </label>

      <input
        id="{{ section.id | append: '-password' }}"
        name="password"
        required
        type="password"
      >
    </div>

    <button class="button">{{ 'form.submit' | t }}</button>
  </div>
{% endform %}

{% schema %}
{
  "class": "container section-margin rte"
}
{% endschema %}
