<div class="main-password__images relative">
  {% if section.settings.overlay_image %}
    {% render 'image',
      image: section.settings.overlay_image,
      width: 1440,
      class: 'main-password__overlay height-full width-full image-cover'
    %}
  {% endif %}

  {% if section.settings.logo_image %}
    {% render 'image', image: section.settings.logo_image, width: 1170, class: 'main-password__logo' %}
  {% endif %}

  {% if section.settings.image %}
    {% render 'image',
      image: section.settings.image,
      width: 1440,
      class: 'main-password__image height-full width-full image-cover'
    %}
  {% endif %}
</div>

<div class="main-password__content flex-1 flex flex-col flex-gap-large items-center justify-center text-center">
  {% unless section.settings.heading == empty %}
    <p class="main-password__heading text-h3">{{ section.settings.heading }}</p>
  {% endunless %}

  {% if section.settings.thumbnail_image %}
    {% render 'image',
      image: section.settings.thumbnail_image,
      width: 600,
      class: 'main-password__thumbnail image-cover'
    %}
  {% endif %}

  {% unless section.settings.body == empty %}
    <div class="main-password__body text-h6 rte">{{ section.settings.body }}</div>
  {% endunless %}
</div>

<div class="main-password__footer flex items-center">
  {% unless section.settings.footer_heading == empty %}
    <p class="text-body-small">{{ section.settings.footer_heading }}</p>
  {% endunless %}

  <div class="main-password__newsletter-form margin-left-auto">
    {% form 'customer', class: 'flex flex-gap-medium' %}
      <label class="visually-hidden" for="newsletter-email">{{ 'form.email' | t }}</label>

      <input
        id="newsletter-email"
        class="main-password__input input-small flex-1"
        name="contact[email]"
        placeholder="{{ 'form.email' | t }}"
        type="email"
      >

      <button class="button-reset text-body-small" type="submit">{{ 'form.submit' | t }}</button>
    {% endform %}
  </div>

  {% form 'storefront_password', class: 'main-password__password-form margin-left-auto' %}
    {{ form.errors | default_errors }}

    <div class="inline-flex flex-gap-small items-end">
      <div class="flex-1">
        <label for="{{ section.id | append: '-password' }}">
          {{ 'form.password' | t }}
        </label>

        <input
          id="{{ section.id | append: '-password' }}"
          name="password"
          required
          type="password"
        >
      </div>

      <button class="button">{{ 'form.submit' | t }}</button>
    </div>
  {% endform %}
</div>

{% stylesheet %}
  .main-password__password-form:not(:target),
  .main-password:has(.main-password__password-form:target) .main-password__newsletter-form {
    display: none;
  }

  .main-password {
    min-height: 100dvh;
  }

  .main-password__images {
    z-index: 0;
  }

  .main-password__image {
    object-position: top;
    z-index: 0;
  }

  .main-password__overlay {
    inset: 0;
    object-position: top;
    position: absolute;
    z-index: 2;
  }

  .main-password__logo {
    left: 50%;
    position: absolute;
    top: 6px;
    transform: translateX(-50%);
    width: 80%;
    z-index: 1;
  }

  .main-password__heading {
    line-height: 1;
    max-width: 220px;
  }

  .main-password__thumbnail {
    aspect-ratio: 300 / 380;
    border-radius: 30px;
    max-width: 128px;
  }

  .main-password__body {
    --paragraph-spacing: 0;
    font-size: 0.8125rem;
    line-height: 1.5;
    max-width: 140px;

    a {
      text-decoration: none;
    }
  }

  .main-password__content {
    padding-block: var(--spacing-32);
  }

  .main-password__footer {
    background-color: rgb(175, 215, 231);
    min-height: 60px;
    padding-block: var(--spacing-16);
    padding-inline: var(--spacing-24);
  }

  .main-password__input {
    background-color: transparent;
    border: none;
    min-height: 0;
    padding-block: 0;
    padding-inline: 0;
  }

  @media (min-width: 1024px) {
    .main-password {
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      grid-template-rows: 1fr auto;
      max-height: 100dvh;
    }

    .main-password__images {
      grid-area: 1 / 1;
      min-height: 0;
    }

    .main-password__logo {
      top: var(--spacing-24);
    }

    .main-password__heading {
      font-size: 2.5rem;
    }

    .main-password__thumbnail {
      max-width: 300px;
    }

    .main-password__body {
      max-width: 150px;
    }

    .main-password__content {
      align-self: center;
      gap: var(--spacing-40);
      grid-area: 1 / 2;
    }

    .main-password__footer {
      display: grid;
      grid-template-columns: subgrid;
      grid-area: 2 / 1 / 2 / -1;
      padding-inline: 5.625rem;
    }

    .main-password__newsletter-form {
      width: 100%;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "class": "main-password flex flex-col",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:presets.settings.default_image.label"
    },
    {
      "type": "image_picker",
      "id": "overlay_image",
      "label": "t:sections.main-password.settings.overlay_image.label"
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "t:sections.main-password.settings.logo_image.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:presets.settings.heading.label",
      "default": "Heading text"
    },
    {
      "type": "image_picker",
      "id": "thumbnail_image",
      "label": "t:sections.main-password.settings.thumbnail_image.label"
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "t:presets.settings.body.label",
      "default": "<p>Lorem ipsum dolor sit amet</p>"
    },
    {
      "type": "text",
      "id": "footer_heading",
      "label": "t:sections.main-password.settings.footer_heading.label",
      "default": "Stay updated"
    }
  ]
}
{% endschema %}
