<script
  src="{{ 'line-item.js' | asset_url }}"
  type="module"
  fetchpriority="low"
></script>

<div data-section="{{ section.id }}" data-section-element="main-cart">
  {% if cart.empty? %}
    <div class="flex flex-col flex-gap-medium items-start">
      <p class="text-h3">{{ 'cart.empty' | t }}</p>

      <a class="button" href="{{ routes.all_products_collection_url }}">
        {{- 'cart.empty_button' | t -}}
      </a>
    </div>

  {% else %}
    <div class="flex flex-col flex-gap-large">
      {% content_for 'block', type: '_cart-title', id: 'title' %}

      <div class="main-cart-grid grid">
        <div class="col xs12 m6 l8">
          {% form 'cart', cart, class: 'flex flex-col flex-gap-large width-full' %}
            {% for item in cart.items %}
              {% render 'line-item', item: item %}
            {% endfor %}
          {% endform %}
        </div>

        <div class="col xs12 m6 l4">
          <div class="flex flex-col flex-gap-small">
            {% content_for 'block', type: '_cart-discount', id: 'discount' %}
            {% content_for 'block', type: '_cart-summary', id: 'summary' %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>

{% stylesheet %}
  @media (min-width: 768px) {
    .main-cart-grid {
      gap: var(--spacing-40);
    }
  }

  @media (min-width: 1024px) {
    .main-cart-grid {
      gap: var(--spacing-64);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:sections.main-cart.name",
  "class": "container section-margin shopify-section-main-cart"
}
{% endschema %}
