<div class="grid no-gutter">
  <div class="col xs12 m4 offset-m4">
    {% form 'create_customer', class: 'flex flex-col flex-gap-medium' %}
      <h1 class="text-h4">{{ 'customer.register.title' | t }}</h1>

      {{ form.errors | default_errors }}

      <div class="form-group">
        <div class="form-field form-group-half">
          <label for="{{ section.id | append: '-first-name' }}">
            {{ 'form.first_name' | t }}
          </label>

          <input
            id="{{ section.id | append: '-first-name' }}"
            name="customer[first_name]"
            type="text"
            {% if form.first_name %}
              value="{{ form.first_name }}"
            {% endif %}
          >
        </div>

        <div class="form-field form-group-half">
          <label for="{{ section.id | append: '-last-name' }}">
            {{ 'form.last_name' | t }}
          </label>

          <input
            id="{{ section.id | append: '-last-name' }}"
            name="customer[last_name]"
            type="text"
            {% if form.last_name %}
              value="{{ form.last_name }}"
            {% endif %}
          >
        </div>

        <div class="form-field">
          <label for="{{ section.id | append: '-email' }}">
            {{ 'form.email' | t }}
          </label>

          <input
            id="{{ section.id | append: '-email' }}"
            name="customer[email]"
            type="email"
            {% if form.email %}
              value="{{ form.email }}"
            {% endif %}
          >
        </div>

        <div class="form-field">
          <label for="{{ section.id | append: '-password' }}">
            {{ 'form.password' | t }}
          </label>

          <input
            id="{{ section.id | append: '-password' }}"
            name="customer[password]"
            type="password"
          >
        </div>

        <button class="button">{{ 'form.submit' | t }}</button>

        {{ 'customer.register.login' | t | link_to: routes.account_login_url, class: 'text-link' }}
      </div>
    {% endform %}
  </div>
</div>

{% schema %}
{
  "class": "container section-margin"
}
{% endschema %}
