<div class="main-password__footer">
  <div class="main-password__newsletter-form"></div>

  {% form 'storefront_password', class: 'main-password__password-form' %}
    {{ form.errors | default_errors }}

    <div class="inline-flex flex-gap-small items-end">
      <div class="flex-1">
        <label for="{{ section.id | append: '-password' }}">
          {{ 'form.password' | t }}
        </label>

        <input
          id="{{ section.id | append: '-password' }}"
          name="password"
          required
          type="password"
        >
      </div>

      <button class="button">{{ 'form.submit' | t }}</button>
    </div>
  {% endform %}
</div>

{% stylesheet %}
  .main-password__password-form:not(:target),
  .main-password:has(.main-password__password-form:target) .main-password__newsletter-form {
    display: none;
  }
{% endstylesheet %}

{% schema %}
{
  "class": "main-password"
}
{% endschema %}
