{% content_for 'block', type: 'heading', id: 'title', margin: true %}

<form action="{{ routes.search_url }}">
  <div class="inline-flex flex-gap-small items-end">
    <div class="flex-1">
      <label class="visually-hidden" for="{{ section.id | append: '-search' }}">
        {{ 'search.title' | t }}
      </label>

      <input
        id="{{ section.id | append: '-search' }}"
        name="q"
        value="{{ search.terms | escape }}"
        type="search"
        placeholder="{{ 'search.query' | t }}"
      >
    </div>

    <button class="button">{{ 'search.title' | t }}</button>
  </div>
</form>

{% schema %}
{
  "class": "container section-margin"
}
{% endschema %}
